@import url(/assets/css/variaveis.css);

.contato{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--preto-nao-tao-preto);
    font-family: var(--fonte-principal);
}

.contato__imagem{
    width: 35%;
    margin: 20px 20px;
}

.contato__informacao{
    line-height: 25px;
    color: var(--fonte-letra);
    font-weight: 400;
    font-size: 16px;
    margin: 20px 20px;
}
.contato__informacao:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.contato__informacao:nth-child(3){
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px){
    .contato{
      display: grid;
      grid-template-columns: 50% 50%;
      background: var(--preto-nao-tao-preto);
      margin: 50px 0px;
    }
    
    .contato__imagem{
        width: 50%;
        margin: 15px 15px;
    }
    .contato__informacao:nth-child(1){
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }
    .contato__informacao:nth-child(3){
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1728px){
    .contato{
        display: grid;
        grid-template-columns: 50% 50%;
        background: var(--preto-nao-tao-preto);
        margin: 50px 0px;
      }
      
      .contato__imagem{
          width: 70%;
          margin: 15px 15px;
      }
      .contato__informacao:nth-child(1){
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
    }
    .contato__informacao:nth-child(3){
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
    }
}