@import url(/assets/css/variaveis.css);

.vantagens{
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-principal);
    margin: 50px 30px;
    padding: 10px 5px;
}

.vantagens__conteudo{
    text-align: center;
}

.vantagens__titulo{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 10px;
}

.vantagens__img{
    margin: 30px 20px;
    padding: 10px 5px;
    width: 50%;
}

.vantagens__subtitulo{
    font-weight: 700;
    font-size: 20px;
    margin: 20px 5px;
    padding: 10px 5px;
    text-align: center;
}

.vantagens__texto{
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

@media screen and (min-width: 1024px){
    .vantagens{
        display: none;
    }
}